/* Eric Zorn: July 15, 2017, Module 6 */

$background: #4FBE7E
$text-color: #FFF
$passionOne-Font: 'Passon One', sans-serif
$finishedFontSize: 10px
$finishedFontColor: yellow

body
  background: $background
  color: $text-color
  font-family: $passionOne-Font
  
#myCanvas 
  border: 4px solid white
  background: black
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.finished
  font-family: 'Gloria Hallelujah', cursive
  color: $finishedFontColor